@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #003058d0;
}

#contenedor{
    width: 650px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    background: white;
    
}
.r1{
    text-align: center;
    background: #0097bd;
    padding: 13px;
    font-size: 14px;
    color: white;
    
}
.r{
   overflow: hidden;
}

.r input{
    padding: 15px;
   margin: 0px 13px;
    width: 95%;
    overflow: hidden;
    background: #f0f0f0 url(requerido.png) no-repeat;
    border: none;
    margin-top: 5px;
    font-weight: 500;
}
h5{
    margin:10px 13px 0px;
    color: #000000;
    font-weight: 400;
}
.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
}
.img img{
    width: 100%;
    height: 100%;
    
   
}
.r #btn{
    background: #0097bd;
    color: white;
    margin-top: 5px;
}

a{
    display: block;
    float: inline-end;
    margin:0px 5px ;
    padding-top: 10px;
}